// Custom.scss
// Option A: Include all of Bootstrap






$primary: #2f5e5a;
$info: #62e1c1;
$secondary: #2d5855;





h2{
  text-align: center;
}



h3{
  text-align: center;
  margin-bottom: 17rem;
  color: black;
  text-decoration: underline;

}

.breadcrumb{
  font-size: 25px;
 
  
}

body{
  overflow-x: hidden;
}


body::-webkit-scrollbar{
  display: none;

}

.rounded-circle{
  display: block;
  max-width: 100%;
  height: auto;
}

.bio-img{
  display: block;
  max-width: 60%;
  height: auto;
  border-radius: 50%;

}

.nav-img{
  
  margin-right: 3rem;
}

.nav-item a{
color: white;
font-size: 18px;
margin-top: 2rem;
white-space: nowrap;
}

.nav-item a :hover{
  color: white;

  
  }

.navbar{
  background-color: #175363;
  height: auto;
}

.navbar-nav :hover {
  color: red;
}

.navbar-brand{

  font-size: 10px;
}


.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}


.banner-img{
 color: white;

 max-width: 550px;
}



 h6{
  font-size: 26px;
}


.header-desc{
  font-size: 20px;
  color: black;
}







.about-section .social{
  text-align: center;
  font-size: 10px;
}




.license-container{
  margin-right: 25rem;
}





.hero-section

{
  background: -moz-linear-gradient(to bottom, #a5beba 0%, #175363 29%, #295854 66%, #295854 100%);
  background: -webkit-linear-gradient(45deg, #a5beba 0%,#175363 29%,#295854 66%,#295854 100%);
  background: linear-gradient(45deg, #a5beba 0%,#175363 29%,#295854 66%,#295854 100%);
  background-size: 400% 400%;

animation: Gradient 15s ease;
/*min-height: calc(100vh - 2rem);*/
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: space-evenly;
overflow: hidden;
position: relative; 
}

.hero-section::before, 
.hero-section::after {
content: "";
width: 70vmax;
height: 70vmax;
position: absolute;
background: rgba(255, 255, 255, 0.07);
left: -20vmin;
top: -20vmin;
animation: morph 15s linear infinite alternate, spin 20s linear ;
z-index: 99;
will-change: border-radius, transform;
transform-origin: 55% 55%;
pointer-events: none; 
}

.hero-section::after {
  width: 70vmin;
  height: 70vmin;
  left: auto;
  right: -10vmin;
  top: auto;
  bottom: 0;
  animation: morph 10s linear infinite alternate, spin 26s linear  reverse;
  transform-origin: 20% 20%; 
}





@keyframes Gradient {
0% {
  background-position: 0 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0 50%
}
}

@keyframes morph {
0% {
  border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
100% {
  border-radius: 40% 60%; } 
}

@keyframes spin {
to {
  transform: rotate(1turn); 
} 
}



.banner-container{

background: #53b49c;
border-radius: 1rem;

}







.featured-section{

  background-image: linear-gradient(125deg,#53b49c 15%,  #295854 100%);

}






/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/
.cta {
  padding: 0;
  margin-bottom: 60px;
  background-color: whitesmoke;

}

.cta .container {
  padding: 80px;
  background: rgba(var(--color-secondary-rgb), 0.1);
  border-radius: 15px;
  text-align: center;
}

@media (max-width: 992px) {
  .cta .container {
    padding: 60px;
  }
}



.cta .content p {
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 18px;
}

.cta .content .cta-btn {
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 10px;
  background: rgba(var(--color-primary-dark-rgb), 0.9);
}

.cta .content .cta-btn:hover {
  background: var(--color-primary);
}

.cta .img {
  position: relative;
}

.cta .img:before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(var(--color-white-rgb), 0.5);
  border-radius: 15px;
  transform: rotate(12deg);
}

.cta .img:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(var(--color-white-rgb), 0.9);
  border-radius: 15px;
  transform: rotate(6deg);
}

.cta .img img {
  position: relative;
  z-index: 3;
  border-radius: 15px;
}


.btn-group .btn{
  text-align: center;
  border-radius: 1rem;
 
  font-weight: 400;

  
}

.btn-group a{
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}



@media (max-width:900px){

  .btn-group a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
  }
  

}








/*--------------------------------------------------------------
# Informational-info Section
--------------------------------------------------------------*/
.informational{
  height: auto;

}

.informational .informational-img {
  position: relative;
  margin: 100px 0 0 100px;
}

.informational .informational-img:before {
  position: absolute;
  inset: -60px 0 0 -60px;
  z-index: -1;
  content: "";
  background: url("/images/about-bg.webp") top left;
  background-repeat: no-repeat;
}

@media (max-width: 575px) {
  .informational .informational-img {
    margin: 30px 0 0 30px;
  }

  .informational .informational-img:before {
    inset: -30px 0 0 -30px;
  }
}





/*--------------------------------------------------------------
Calendly Embeded Section
--------------------------------------------------------------*/

.calendly{
  background-image: linear-gradient(125deg,#62e1c1 15%,  #295854 100%);

}

.calendly hr{
  margin-left: 5rem;
  background: black;
  border: 2px solid; 
   margin-right: 5rem;
}


.calendly::-webkit-scrollbar{
  display: none;

}





.survey{
  background-image: linear-gradient(125deg,#62e1c1 15%,  #295854 100%);

}




/*--------------------------------------------------------------
# On Focus Section
--------------------------------------------------------------*/
.onfocus {
  padding: 0;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: whitesmoke;
  border-radius: 1rem;

}
.onfocus .video-play {
  min-height: 400px;
  background: linear-gradient(rgba(var(--color-black-rgb), 0.4), rgba(var(--color-black-rgb), 0.7)), url("../images/onfocus-video-bg.webp") center center;
  background-size: cover;

}

.onfocus .content {
  color: rgba(var(--color-white-rgb), 0.8);
  background-size: cover;
  color: black;
  padding: 40px;
}

@media (min-width: 768px) {
  .onfocus .content {
    padding: 80px;
  }
}



.onfocus .content ul {
  list-style: none;
  padding: 0;
}

.onfocus .content ul li {
  padding-bottom: 10px;
}

.onfocus .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--color-primary);
}

.onfocus .content p:last-child {
  margin-bottom: 0;
}



.onfocus .content .read-more i {
  font-size: 18px;
  margin-left: 5px;
  line-height: 0;
  transition: 0.3s;
}

.onfocus .content .read-more:hover {
  background: rgba(var(--color-primary-rgb), 0.9);
  padding-right: 19px;
}

.onfocus .content .read-more:hover i {
  margin-left: 10px;
}

.onfocus .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(var(--color-primary) 50%, rgba(var(--color-primary-rgb), 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.onfocus .play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation: pulsate-btn 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(var(--color-primary-rgb), 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.onfocus .play-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid var(--color-white);
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.onfocus .play-btn:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid var(--color-white);
  z-index: 200;
  animation: none;
  border-radius: 0;
}

.onfocus .play-btn:hover:after {
  border-left: 15px solid var(--color-primary);
  transform: scale(20);
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}





.contact-btn{
  color: white;
 
  text-decoration: none;
}



.btn :hover{
  color: white;
  
}



// Include any default variable overrides here (though functions won't be available)\


@import "../node_modules/bootstrap/scss/bootstrap.scss";


// Then add additional custom code here

